<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.space.infra.modules.post.PostMapper">

    <resultMap id="resultMapObj" type="com.space.infra.modules.post.Post"></resultMap>
    
    <select id="selectList" resultMap="resultMapObj">
    	SELECT
			poSeq
		    ,mmNickName
		    ,poTitle
		    ,poContent
		    ,poDelNy
		    ,poCategory
		    ,poLng
		    ,poLat
		    ,poCreateDate
		    ,poAddr
		    ,uppo.upPath
		    ,uppo.upUuidName
		FROM post po
		LEFT JOIN uploadedPost uppo
		ON po.poSeq = uppo.upPostSeq
		AND uppo.upDefaultNy = 1
		AND uppo.upDelNy = 0
		LEFT JOIN member mm on mm.mmSeq = po.poWriter
			AND mmDelNy = 0
			AND mmAdminNy = 0
		WHERE 1=1
			AND poDelNy = 0
		ORDER BY poSeq DESC
    </select>
    
    <insert id="insert">
    	INSERT INTO post (
    		poWriter
    		,poTitle
    		,poContent
    		,poCategory
    		,poLat
    		,poLng
    		,poAddr
    	)
    	VALUES (
    		#{poWriter}
    		,#{poTitle}
    		,#{poContent}
    		,#{poCategory}
    		,#{poLat}
    		,#{poLng}
    		,#{poAddr}
    		
    	)
	    <selectKey resultType="Integer" keyProperty="poSeq" order="AFTER">
	    	SELECT last_insert_id()
	    </selectKey> 
    </insert>
    
    <select id="selectLastSeq" resultType="Integer">
    	SELECT
    		poSeq
    	FROM post
    	ORDER BY poSeq DESC
    	LIMIT 1
    </select>
    
    <insert id="insertPostUpload">
    	INSERT INTO uploadedPost (
    		upDefaultNy
    		,upSort
    		,upSize
    		,upOriginalName
    		,upUuidName
    		,upExt
    		,upPath
    		,upPostSeq
    	)
    	VALUES (
    		#{upDefaultNy}
    		,#{upSort}
    		,#{upSize}
    		,#{upOriginalName}
    		,#{upUuidName}
    		,#{upExt}
    		,#{upPath}
    		,#{upPostSeq}
    	)
    </insert>
    
    <select id="selectOne" resultMap="resultMapObj">
   		SELECT
			poSeq
		    ,mm.mmNickName
		    ,poTitle
		    ,poContent
		    ,poDelNy
		    ,poCategory
		    ,poLng
		    ,poLat
		    ,poCreateDate
		    ,poAddr
            ,mv.mvName
            ,upmm.upPath
            ,upmm.upUuidName
		FROM post po
		LEFT JOIN member mm on mm.mmSeq = po.poWriter
			AND mmDelNy = 0
			AND mmAdminNy = 0
        LEFT JOIN myVillage mv on mv.mvMemberSeq = mm.mmSeq
        	AND mvDelNy = 0
        	AND mvDefaultNy = 1
        LEFT JOIN uploadedMember upmm on upmm.upMemberSeq = po.poWriter
	        AND upmm.upDefaultNy = 1
			AND upmm.upDelNy = 0
		WHERE 1=1
			AND poSeq = #{poSeq}
    </select>
    
    <select id="selectPostImage" resultMap="resultMapObj">
   		SELECT
		    upPath
		    ,upUuidName
		FROM uploadedPost
		WHERE 1=1
			AND upPostSeq = #{poSeq}
			ORDER BY upSort
    </select>
    
    <insert id="insertUpload">
    	INSERT INTO uploadedPost (
    		upPath
    		,upOriginalName
    		,upUuidName
    		,upExt
    		,upSize
    		,upDefaultNy
    		,upSort
    		,upPostSeq
    	)
    	VALUES (
    		#{upPath}
    		,#{upOriginalName}
    		,#{upUuidName}
    		,#{upExt}
    		,#{upSize}
    		,#{upDefaultNy}
    		,#{upSort}
    		,#{poSeq}
    	)
    </insert>
    
    <update id="update">
    	UPDATE post
    	SET
    		poTitle = #{poTitle}
    		,poContent = #{poContent}
    		,poCategory = #{poCategory}
    	WHERE poSeq = #{poSeq}
    </update>
    
</mapper> 