<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.space.infra.modules.post.PostMapper">

    <resultMap id="resultMapObj" type="com.space.infra.modules.post.Post"></resultMap>
    
    <select id="selectList" resultMap="resultMapObj">
    	SELECT
    		*
    	FROM post
    </select>
    
    <insert id="insert">
    	INSERT INTO post (
    		poWriter
    		,poTitle
    		,poContent
    		,poCategory
    		,poLng
    		,poLat
    		,poAddr
    	)
    	VALUES (
    		#{poWriter}
    		,#{poTitle}
    		,#{poContent}
    		,#{poCategory}
    		,#{poLng}
    		,#{poLat}
    		,#{poAddr}
    	)
    </insert>
    
    <select id="selectOne" resultMap="resultMapObj">
    	SELECT
    		*
    	FROM post
    	WHERE 1=1
    		AND poSeq = #{seq}
    </select>
    
</mapper> 