<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.space.infra.modules.myvillage.MyVillageMapper">

	<resultMap id="resultMapObj" type="com.space.infra.modules.myvillage.MyVillage"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT
			mvSeq
			,mvName
			,mvMemberSeq
			,mvDefaultNy
			,mvDelNy
			,mvCreateDate
		FROM myVillage
		WHERE 1=1
		<if test="shDelNy != null and !shDelNy.equals('')">AND mvDelNy = #{shDelNy}</if>
			<choose>
				<when test="shOption == 1">AND mvMemberSeq = #{shValue}</when>
				<when test="shOption == 2">AND mvName LIKE CONCAT('%', #{shValue},'%')</when>
			</choose>
	</select>
	
	<select id="selectListMyvillage" resultMap="resultMapObj">
		SELECT
			mvSeq
			,mvOriginalAddr
			,mvName
			,mvDelNy
			,mvCreateDate
		FROM myVillage
		WHERE 1=1
			and mvMemberSeq = #{mvMemberSeq} 
	</select>
	
	<select id="selectOneHome" resultMap="resultMapObj">
		SELECT
			mvOriginalAddr
			,mvSeq
			,mvName
			,mvDelNy
			,mvCreateDate
		FROM myVillage
		WHERE 1=1
		 and mvMemberSeq = #{mvMemberSeq}
		 and mvDefaultNy = 1
		order by mvSeq desc
		limit 1 
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			mvOriginalAddr
			,mvSeq
			,mvName
			,mvMemberSeq
			,mvDefaultNy
			,mvDelNy
			,mvCreateDate
		FROM myVillage
		WHERE 
		 mvSeq = #{mvSeq}
	</select>
	
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		FROM myVillage
		WHERE 1=1
		<if test="shDelNy != null and !shDelNy.equals('')">AND mvDelNy = #{shDelNy}</if>
			<choose>
				<when test="shOption == 1">AND mvMemberSeq = #{shValue}</when>
				<when test="shOption == 2">AND mvName LIKE CONCAT('%', #{shValue},'%')</when>
			</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO myVillage(
			mvName
			,mvOriginalAddr
			,mvMemberSeq
			,mvDefaultNy
		)
		VALUES(
			#{mvName}
			,#{mvOriginalAddr}
			,#{mvMemberSeq}
			<choose>
				<when test="mvDefaultNy ==null">,0</when>
				<otherwise>,#{mvDefaultNy}</otherwise>
			</choose>
		)
		<selectKey resultType="Integer" keyProperty="mvSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<update id="update">
		UPDATE myVillage
		SET
			mvName = #{mvName}
			,mvMemberSeq = #{mvMemberSeq}
			,mvOriginalAddr =#{mvOriginalAddr}
			,mvDefaultNy
			<choose>
				<when test="mvDefaultNy ==null">=0</when>
				<otherwise>=#{mvDefaultNy}</otherwise>
			</choose>
		WHERE 
			mvSeq = #{mvSeq}
	</update>
	
	<update id="uelete">
		UPDATE myVillage
		SET
			mvDelNy = 1
		WHERE 
			mvSeq = #{mvSeq}
	</update>
	
	<delete id="delete">
		DELETE FROM myVillage WHERE mvSeq = #{mvSeq}
	</delete>
	
	
	
</mapper>	