<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.space.infra.modules.member.MemberMapper">

    <resultMap id="resultMapObj" type="com.space.infra.modules.member.Member"></resultMap>
    
    <select id="selectOne" parameterType="Integer" resultMap = "resultMapObj">
    	SELECT
    		mm.*
    		,up.upPath
    		,up.upUuidName
   		FROM member mm
   		LEFT JOIN uploadedMember up
   		ON mm.mmSeq = up.upMemberSeq
   		AND upDelNy = 0
   		WHERE 1=1
   		AND mmSeq = #{loginUserSeq}
    </select>
    
    <select id="selectList" resultMap = "resultMapObj">
	
		SELECT
			*
		FROM member
		WHERE
			1=1
		<include refid="searchSql"/>
		<include refid="rangeSql"/>
	</select>
	
	<select id="selectListCount" resultType ="Integer" >
		SELECT
			COUNT(*)
		FROM member
		WHERE 1 = 1
		<include refid="searchSql"/>
	</select>
    
    <select id="checkLogin" resultMap="resultMapObj">
    	SELECT
    		*
   		FROM member
   		WHERE 1=1
   		AND mmId = #{mmId}
   		AND mmPassword = #{mmPassword}
   		AND mmAdminNy = #{mmAdminNy}
    </select>
	
	<select id="existProfileImg" resultType="Integer">
		SELECT
			COUNT(*)
		FROM uploadedMember
		WHERE 1=1
		AND upDefaultNy = 1
		AND upDelNy = 0
		AND upMemberSeq = #{mmSeq}
	</select>
	
	<update id="deleteProfileImg">
		UPDATE uploadedMember 
		SET 
			upDelNy = 1 
			,upDefaultNy = 0 
		WHERE 1=1
		AND upMemberSeq = #{mmSeq}
	</update>
	
	<update id="update">
		UPDATE member
		SET
			mmDelNy = 0 
			<if test="mmNickName != null">,mmNickName = #{mmNickName}</if>
			<if test="mmEmail != null">,mmEmail = #{mmEmail}</if>
			<if test="mmTelecom != null">,mmTelecom = #{mmTelecom}</if>
			<if test="mmPhone != null">,mmPhone = #{mmPhone}</if>
		WHERE 1=1
		AND mmSeq = #{mmSeq}
	</update>
	
	<insert id="insert">
		INSERT member
		(
			mmId
			,mmName
			,mmNickName
			,mmPassword
			,mmGender
			,mmAge
			,mmDob
			,mmEmail
			,mmTelecom
			,mmPhone
		)
		VALUES
		(
			#{mmId}
			,#{mmName}
			,#{mmNickName}
			,#{mmPassword}
			,#{mmGender} 
			,#{mmAge}
			,#{mmDob}
			,#{mmEmail}
			,#{mmTelecom}
			,#{mmPhone}
		)
		<selectKey resultType="Integer" keyProperty="mmSeq" order="AFTER">
				SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<insert id="insertProfileUpload">
		INSERT INTO uploadedMember 
		(
			upDefaultNy
			,upSort
			,upSize
			,upOriginalName
			,upUuidName
			,upExt
			,upPath
			,upMemberSeq
		)
		VALUES
		(
			#{upDefaultNy}
			,#{upSort}
			,#{upSize}
			,#{upOriginalName}
			,#{upUuidName}
			,#{upExt}
			,#{upPath}
			,#{mmSeq}
		)
	</insert>
	
	<sql id="rangeSql"> 
		LIMIT #{pageSize} OFFSET #{pageRange}  
	</sql>
	
	<sql id="searchSql">
		AND mmDelNy LIKE 0  
		AND
		<choose>
			<when test= "shOption == null"> mmName </when>
			<when test= "shOption == 1"> mmName </when>
			<when test= "shOption == 2"> mmId </when>
			<when test= "shOption == 3"> mmNickname </when>
			<when test= "shOption == 4"> mmEmail </when>
			<when test= "shOption == 5"> mmPhone </when>
		</choose>
		<choose>
			<when test=" shValue == null">LIKE CONCAT ('%','','%')</when>
			<when test=" shValue != null">LIKE CONCAT ('%',#{shValue},'%')</when> 
		</choose> 
			<if test="shGender != null">AND mmGender LIKE #{shGender}</if> 
		<choose>
			<when test="shDateOption == null">AND  mmCreateDate </when>
			<when test="shDateOption == 1">AND  mmCreateDate </when>
			<when test="shDateOption == 2">AND  mmDob </when>
		</choose>
		<choose>
			<when test = 'shDateStart == null or shDateStart ==""'> BETWEEN CONCAT('1700-01-01', ' 00:00:00') AND CONCAT('2300-01-01',' 00:00:00') </when>
			<when test = "shDateStart != null and shDateEnd != null">BETWEEN CONCAT(#{shDateStart},' 00:00:00') AND CONCAT(#{shDateEnd},' 23:59:59')</when> 
		</choose>   
		
	</sql> 
    
</mapper> 