<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.space.infra.modules.codegroup.CodeGroupMapper">

    <resultMap id="resultMapObj" type="com.space.infra.modules.codegroup.CodeGroup"></resultMap>
    
    <select id="selectList" resultMap="resultMapObj">
    	SELECT
    		 cgSeq
    		 ,cgName
    		 ,cgDelNy
    		 ,cgUseNy
    	FROM ccg
    </select>
    
    <select id="selectListCount" resultType="Integer">
    	SELECT COUNT(*)
    	FROM ccg
    	WHERE 1=1
    </select>
    
    <sql id="searchSql">
   		<choose>
   			<when test="shOption == null">AND cgName</when>
   			<when test="shOption == 1">AND cgName</when>
   		</choose>
   		<choose>
   			<when test="shValue == null">LIKE CONCAT ('%','','%')</when>
   			<when test="shValue != null">LIKE CONCAT ('%',#{shValue},'%')</when>
   		</choose>
   		<choose>
   			<when test="shDelNy == null">AND cgDelNy LIKE 0</when>
   			<when test="shDelNy != null">AND cgDelNy LIKE #{shDelNy}</when>
   		</choose>
   		<choose>
   			<when test="shUseNy != null">AND cgUseNy LIKE #{shUseNy}</when>
   		</choose>
   		<choose>
   		    <when test="shDateOption == null">AND cgCreateDate BETWEEN CONCAT ('1900-01-01 00:00:00') AND CONCAT ('2030-12-30 23:59:59') </when>
   		    <when test="shDateOption != null">AND cgCreateDate BETWEEN CONCAT (#{shDateStart},'%') AND CONCAT (#{shDateEnd},'%') </when>
   		</choose>
   		<!-- <choose>
   			<when test="shDateStart == null || shDateStart == '' ">AND BETWEEN CONCAT #{1900-01-01 00:00:00} AND CONCAT #{2030-12-30 23:59:59}</when>
   			<when test="shDateStart != null">AND BETWEEN CONCAT #{shDateStart} AND CONCAT #{shDateEnd}</when>
   		</choose> -->
    </sql>
    
    <insert id="insert">
    	INSERT INTO ccg (
    	cgName
    	)
    	VALUES (
    	#{cgName}
    	)
    </insert>
    
    <select id="selectOne" resultMap="resultMapObj">
    	SELECT
    		cgSeq
    		,cgName
    		,cgDelNy
    		,cgUseNy
    	FROM ccg
    	WHERE 1=1
    		AND cgSeq = #{cgSeq}
    </select>
    
    
</mapper> 