<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.space.infra.modules.code.CodeMapper">

    <resultMap id="resultMapObj" type="com.space.infra.modules.code.Code"></resultMap>
    
    <select id="selectListCachedCodeList" resultMap="resultMapObj">
    	
    	SELECT
    		ccName
    		,ccOrder
    		,ccGroupSeq
    	FROM cc
    	WHERE 1=1
    	AND ccDelNy = 0
    	AND ccUseNy = 1
    
    </select>
    
    <select id="selectList" resultMap="resultMapObj">
    	SELECT 
			cc.ccSeq
		    ,cc.ccName
		    ,cg.cgSeq
		    ,cg.cgName
		    ,cc.ccDelNy
		    ,cc.ccUseNy
		    ,cc.ccOrder
		    ,cc.ccCreateDate
		FROM cc cc
		join ccg cg on cg.cgSeq = cc.ccGroupSeq
		WHERE 1=1
			<if test="shDelNy != null and !shDelNy.equals('')">AND cc.ccDelNy = #{shDelNy}-1</if>
			<choose>
				<when test="shOption == 1">AND cc.ccSeq = #{shValue}</when>
				<when test="shOption == 2">AND cc.ccName LIKE CONCAT('%', #{shValue},'%')</when>
				<when test="shOption == 3">AND cg.cgSeq = #{shValue}</when>
				<when test="shOption == 4">AND cg.cgName LIKE CONCAT('%', #{shValue}, '%')</when>
			</choose>
			<choose>
				<when test="shDateOption == null">AND  ccCreateDate </when>
				<when test="shDateOption == 1">AND  ccCreateDate </when>
			</choose>
			<choose>
				<when test = 'shDateStart == null or shDateStart ==""'> BETWEEN CONCAT('1700-01-01', ' 00:00:00') AND CONCAT('2300-01-01',' 00:00:00') </when>
				<when test = "shDateStart != null and shDateEnd != null">BETWEEN CONCAT(#{shDateStart},' 00:00:00') AND CONCAT(#{shDateEnd},' 23:59:59')</when> 
			</choose>   
		order by cc.ccSeq desc
    </select>
    
    <select id="selectOneCount" resultType="Integer">
    	SELECT COUNT(*)
    	FROM cc
   		WHERE 1=1
		<if test="shDelNy != null and !shDelNy.equals('')">AND ccDelNy = #{shDelNy}</if>
		<choose>
			<when test="shOption == 1">AND ccSeq = #{shValue}</when>
			<when test="shOption == 2">AND ccName LIKE CONCAT('%',#{shValue},'%')</when>
		</choose>
    </select>
    
    <select id="selectOne" resultMap="resultMapObj">
    	SELECT 
			cc.ccSeq
		    ,cc.ccName
		    ,cc.ccGroupSeq as cgSeq
		    ,cg.cgName
		    ,cc.ccDelNy
		    ,cc.ccUseNy
		    ,cc.ccOrder
		    ,cc.ccCreateDate
		FROM cc cc
		join ccg cg on cg.cgSeq = cc.ccGroupSeq
		WHERE ccSeq = #{ccSeq}
    </select>
    
    <insert id="insert">
    	insert  into cc (
    		ccName
		    ,ccGroupSeq
		    ,ccDelNy
		    ,ccUseNy
		    ,ccOrder
    	)
    	values (
    		#{ccName}
		    ,#{ccGroupSeq}
		    ,#{ccDelNy}
		    ,#{ccUseNy}
		    ,#{ccOrder}
    	)
    	<selectKey resultType="String" keyProperty="ccSeq" order="AFTER">
    		SELECT last_insert_id()
    	</selectKey>
    </insert>
    	
    	<update id="update">
    		update cc
    		set 
	    		ccName =#{ccName}
			    ,ccGroupSeq=#{ccGroupSeq}
			    ,ccDelNy=#{ccDelNy}
			    ,ccUseNy=#{ccUseNy}
			    ,ccOrder=#{ccOrder}
    		where ccSeq = #{ccSeq}
    	</update>
    	
    	<update id="uelete">
    		update cc
    		set
    			ccDelNy = 1
    		where ccSeq =#{ccDelNy}
    	</update>
    	
    	<delete id="delete">
    		DELETE FROM cc WHERE ccSeq = #{ccSeq}
    	</delete>
    
    
</mapper> 