<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.space.infra.modules.product.ProductMapper">

    <resultMap id="resultMapObj" type="com.space.infra.modules.product.Product"></resultMap>
    
    <select id="selectBuyList" resultMap="resultMapObj">
		SELECT
	   		pd.*
	   		,up.upPath
        	,up.upUuidName
	    FROM product pd
	    JOIN uploadedProduct up
	    ON pd.pdSeq = up.upProductSeq
	    AND up.upDefaultNy = 1
	    AND up.upDelNy = 0
	    WHERE 1=1
	    AND pdType = 2
	    ORDER BY pdCreateDate DESC
    </select>
     
    <select id="selectSaleList" resultMap="resultMapObj">
		SELECT
	   		pd.*
	   		,up.upPath
        	,up.upUuidName
	    FROM product pd
	    JOIN uploadedProduct up
	    ON pd.pdSeq = up.upProductSeq
	    AND up.upDefaultNy = 1
	    AND up.upDelNy = 0
	    WHERE 1=1
	    AND pdType = 1
	    ORDER BY pdCreateDate DESC
    </select>
    
    <select id="selectBuyListFromMember" resultMap="resultMapObj">
    	SELECT
	   		pd.*
	   		,up.upPath
        	,up.upUuidName
	    FROM product pd
	    JOIN uploadedProduct up
	    ON pd.pdSeq = up.upProductSeq
	    AND up.upDefaultNy = 1
	    AND up.upDelNy = 0
	    WHERE 1=1
	    AND pdType = 2
	    AND pdSeller = #{pdSeller}
	    ORDER BY pdCreateDate DESC
    </select>
    
    <select id="selectSaleListFromMember" resultMap="resultMapObj">
    	SELECT
	   		pd.*
	   		,up.upPath
        	,up.upUuidName
	    FROM product pd
	    JOIN uploadedProduct up
	    ON pd.pdSeq = up.upProductSeq
	    AND up.upDefaultNy = 1
	    AND up.upDelNy = 0
	    WHERE 1=1
	    AND pdType = 1
	    AND pdSeller = #{pdSeller} 
	    ORDER BY pdCreateDate DESC
    </select>
        
    <select id="selectOneProduct" resultMap="resultMapObj">
    	SELECT
		pd.*
		,mm.mmNickName
		,upm.upPath
		,upm.upUuidName
		FROM product pd
		JOIN member mm
		ON pd.pdSeller = mm.mmSeq
		LEFT JOIN uploadedMember upm 
		ON mm.mmSeq = upm.upMemberSeq
		AND upm.upDelNy = 0
		AND upm.upDefaultNy = 1
		WHERE 1=1
		AND pdSeq = #{pdSeq} 
    </select>
    
    <select id="selectListForHome" resultMap="resultMapObj">
    	SELECT
	   		pd.*
	   		,up.upPath 
        	,up.upUuidName
	    FROM product pd
	    JOIN uploadedProduct up
	    ON pd.pdSeq = up.upProductSeq
	    AND up.upDefaultNy = 1
	    AND up.upDelNy = 0
	    WHERE 1=1 
	    AND pdType = 1
	    ORDER BY pdCreateDate DESC
	    LIMIT 8 
    </select>
    
    <select id="selectCountGroupByCategory" parameterType="Integer" resultType="Integer">
       	SELECT
    		COUNT(*)
   		FROM product
   		WHERE 1=1
   		AND pdCategory = #{ccOrder}
    </select> 
     
    <select id="selectCount" resultType="Integer">
    	SELECT
    		COUNT(*)
   		FROM product
   		WHERE 1=1
    </select>
    
    <select id="selectImgFromProduct" resultMap="resultMapObj">
    	SELECT
    		upPath
    		,upUuidName
   		FROM uploadedProduct 
   		WHERE 1=1
   		AND upProductSeq = #{pdSeq}
   		ORDER BY upSort 
    </select>
    
    <insert id="insert">
    	INSERT INTO product 
		(
		  pdTitle
		  ,pdCategory
		  ,pdType
		  ,pdPrice
		  ,pdContent
		  ,pdSeller
		)
		VALUES
		(
		  #{pdTitle}
		  ,#{pdCategory}
		  ,#{pdType}
		  ,#{pdPrice}
		  ,#{pdContent}
		  ,#{pdSeller}
		)
		<selectKey resultType="Integer" keyProperty="pdSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
    </insert>
    
    <insert id="insertUpload">
    	INSERT INTO uploadedProduct
    	(
    		upDefaultNy
			,upSort
			,upExt
			,upOriginalName
			,upUuidName
			,upSize
			,upPath
			,upProductSeq
    	)
    	VALUES
    	(
    		#{upDefaultNy}
			,#{upSort}
			,#{upExt}
			,#{upOriginalName}
			,#{upUuidName}
			,#{upSize}
			,#{upPath}
			,#{pdSeq} 
    	)
    </insert>
    
</mapper> 