<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.space.infra.modules.chat.ChatMapper">
	
	<resultMap id="resultMapObj" type="com.space.infra.modules.chat.Chat" ></resultMap>

	<select id="selectChatListFromOne" parameterType="Integer" resultMap="resultMapObj">
		SELECT
			cu.cuChatSeq as chatSeq
			,ct.chatProductSeq
		FROM chatUser cu
		JOIN chat ct
		ON ct.chatSeq = cu.cuChatSeq
		AND ct.chatDelNy = 0
		WHERE 1=1
		AND cu.cuMember = #{seq}
	</select>

	<select id="selectChatWithoutLoginUser" resultMap="resultMapObj">
		SELECT 
			cu.cuChatSeq as chatSeq 
			,cu.cuMember 
			,mm.mmSeq 
			,mm.mmNickName 
			,up.upPath 
			,up.upUuidName 
			,pd.pdTitle
			,pd.pdPrice
			,pd.pdState
			,uppd.upPath as pdPath
			,uppd.upUuidName as pdUuidName
		FROM chatUser cu 
		JOIN member mm 
		ON cu.cuMember  = mm.mmSeq
		LEFT JOIN uploadedMember up 
		ON mm.mmSeq = up.upMemberSeq
		AND up.upDelNy = 0 
		AND up.upDefaultNy = 1 
		JOIN product pd
		ON pd.pdSeq = #{chatProductSeq}
		JOIN uploadedProduct uppd
		ON uppd.upProductSeq = pd.pdSeq
        AND uppd.upDefaultNy = 1
		WHERE 1=1 
		AND cu.cuMember != #{cuMember} 
		AND cu.cuChatSeq = #{chatSeq} 

	</select>
	
	<insert id="insertChatFromProduct">
		INSERT INTO chat
		(
			chatProductSeq
		)
		VALUES
		( 
			#{chatProductSeq}
		)
		<selectKey resultType="Integer" keyProperty="chatSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>

	<insert id="insertChatUserFromProduct">
		INSERT INTO chatUser
		(
			cuChatSeq
			,cuMember
		)
		VALUES
		(
			#{chatSeq}
			,#{cuMember}
		)
	</insert>
</mapper>